h1, h2 {
    font-family: 'Raleway', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

:root {
    --primary: #ff9d00;
    --light: #f0f0f0;
    --text: #1f1f1f;
    --whiteText: #eaeaea;
    --gray: #c5c5c5;
}